<html>
  <head>
    <meta charset="utf-8" />
  </head>
<table style="height: 21px;" width="800">
  <tbody>
    <tr>
      <td style="text-align: center;" rowspan="2"><img style="float: left;" src="https://storage.googleapis.com/vistocorp/uploads/empresa/logo/2/horizontal_alta.png" alt="" width="200" height="70" />
    <h1>Ordem de Servico</h1>
    <% if resource.ResponsavelSolicitacao.nil?  %>
      <small>Pendente</small>
    <% else %>
      <small><%= resource.ResponsavelSolicitacao.name %></small>
    <% end  %>
    </td>
      <td style="text-align: right;" colspan="2">&nbsp;&nbsp;<strong>#<%= resource.id %></strong></td>
    </tr>
    <tr>
      <td style="text-align: right;" colspan="2"><%= resource.status %></td>
    </tr>
</tbody>
</table>
<hr />
<link href='/css/font-awesome.css' rel='stylesheet' />
<body>

<% if !resource.navio.nil?  %>
Navio: <%= resource.navio.name %> </br>
<% end  %>
<% if !resource.balsa.nil?  %>
Balsa: <%= resource.balsa.name %> </br>
<% end  %>
<% if !resource.data.nil?  %>
Data: <%= resource.data %> </br>
<% end  %>
<% if !resource.prazo.nil?  %>
Prazo: <%= resource.prazo %> </br>
<% end  %>
<% if !resource.relator.nil?  %>
Relator: <%= resource.relator %> </br>
<% end  %>
<% if resource.ResponsavelSolicitacao.nil?  %>
Responsavel: Pendente
<% else  %>
Responsavel: <%= resource.ResponsavelSolicitacao.name %>
<% end  %>
<hr>
Solicitação: <%= simple_format resource.solicitacao %>
<hr>
<% freefotos = [] %>
<% if resource.foto1? %>
<% freefotos << resource.foto1 %>
<% end %>
<% if resource.foto2? %>
<% freefotos << resource.foto2 %>
<% end %>
<% if resource.foto3? %>
<% freefotos << resource.foto3 %>
<% end %>
<% if resource.foto4 %>
<% freefotos << resource.foto4 %>
<% end %>


<% if freefotos.count > 0 %>
Fotos:
<ul class="img-list2">
    <% for foto in freefotos %>
  <li>
      <a href=<%= foto %>>
      <%= image_tag(foto, size: "360x240") %>
      <span class="text-content"><span>Foto antes</span></span>
      </a>
  </li>
  <% end %>
</ul>

<% end %>

</body>

<style type="text/css">
  
 ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  width: 360px;
  height: 240px;
  margin: 0;
  position: relative;
}

ul.img-list2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list2 li {
  display: inline-block;
  width: 360px;
  height: 240px;
  margin: 0;
  position: relative;
}

span.text-content {
  background: black;
  color: white;
  cursor: pointer;
  display: table;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

</style>
</html>
