
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>

<% if @controlede_hidrantes.group_by { |x| x.embarcacao }.count > 1 %>

<h1> Para emitir seu relatório a tela anterior deve mostrar dados de apenas um empurrador </h1>

<% else %>


<div class="nobreak">
  <table width="1000">
  <thead> 
	<tr>
	<th>
	<img align="left" src="http://cidade.gestosat.com/45-Logo_Cidade_Transportes.JPG">
	</th>
	<th>
	  <h3 align="left">CONTROLE DE INSPECÃO DE HIDRANTES</h3>
	</th>
	<th align="right" style="font-size:9px" >
	  <small>Impresso <%= Time.now.to_formatted_s(:short) %> </small>
	</th>
	</tr>
  </thead>
  </table>
  
  <table width="1000">
  <thead>
        <tr>
        <th align="left">
          Embarcação: <%= @controlede_hidrantes.first.embarcacao.upcase %>
        </th>
	<th align="right">
	  Data: <%= @controlede_hidrantes.first.created_at.to_formatted_s(:short) %>
	</th>
        </tr>
  </thead>
  </table>

</div>

      <table style="font-size:12px", border="1", border-style="dotted", width="1000">
       <thead>
          <tr>
            <th>Localização</th>
            <th>Fabricante</th>
            <th>Sinalização/Demarcação</th>
            <th>Estado Geral</th>
            <th>Pintura</th>
            <th>Válvula e Vedação</th>
            <th>Conexão</th>
            <th>Chave Storz</th>
            <th>Tampões</th>
            <th>Conservação/Limpeza</th>
            <th>Esguichos</th>
            <th>Obs.</th>
            <th>Verificado</th>
          </tr>
        </thead>
        <tbody>
        <% for hidrante in @controlede_hidrantes %>
          <tr>
            <td><%= hidrante.localizacao %></td>
            <td><%= hidrante.fabricante %></td>
            <td><%= hidrante.sinalizacao_e_demarcacao %></td>
            <td><%= hidrante.estado_geral %></td>
            <td><%= hidrante.pintura %></td>
            <td><%= hidrante.valvula_e_vedacao %></td>
            <td><%= hidrante.conexao %></td>
            <td><%= hidrante.chaves_storz %></td>
            <td><%= hidrante.tampoes %></td>
            <td><%= hidrante.conservacao_e_limpeza %></td>
            <td><%= hidrante.esguichos %></td>
            <td><%= hidrante.observacao %></td>
            <td><%= hidrante.created_at.strftime('%d/%m/%Y') %></td>
          </tr>
        <% end %>
        </tbody>

      </table>
        
 <div style="font-size:12px">LEGENDA: N/C = NÃO CONFORME, N/A, NÃO SE APLICA </div>
 <div style="font-size:12px"><b>Responsável pela Embarcação:</b> <%= @controlede_hidrantes.first.responsavel_embarcacao  %> </div>


</br></br>
<h5 align="right" > Responsável pela Inspeção assinado com senha pessoal: <%= @controlede_hidrantes.first.tecnico if @controlede_hidrantes.first.tecnico %></h5>

<% end %>     
</body>

<style type="text/css">
  
  div.alwaysbreak { page-break-before: always; }
  div.nobreak:before { clear:both; }
  div.nobreak { page-break-inside: avoid; }

 ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  width: 320px;
  height: 240px;
  margin: 0;
  position: relative;
}

span.text-content {
  background: black;
  color: white;
  cursor: pointer;
  display: table;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

</style>

</html> 
