  <a href="#modal<%= carregamento.id %>"><%= carregamento.name %> 
    <% if carregamento.container20 > 0 %>
      <img src="/cont20.png" height="25" width="25" alt="Conteiner 20pes">
    <% end %>
    <% if carregamento.container40 > 0 %>
      <img src="/cont40.png" height="25" width="25" alt="Conteiner 40pes">
    <% end %>
    <% if carregamento.carretas > 0 %>
      <img src="/carreta.png" height="25" width="25" alt="Carretas"> 
    <% end %>
    <% if carregamento.motoristas > 0 %>
      <img src="/motorista60.png" height="25" width="25" alt="Carreteiros">
    <% end %>
  </a>

<!-- Modal2 --> 
<a href="#" class="modal" id="modal<%= carregamento.id %>" aria-hidden="true">
  </a>
  <div class="modal-dialog">
    <div class="modal-header">
      <h2><%= carregamento.balsa.name if carregamento.balsa %></h2>
      <a href="#" class="btn-close" aria-hidden="true">×</a> 
    </div>
    <div class="modal-body">
      <b>Filial:</b> <%= carregamento.filial.name if carregamento.filial %> </br>
      <b>Inicio:</b> <%= carregamento.inicio.strftime('%d/%m/%Y %H:%M') if carregamento.inicio %> </br>
      <b>Fim:</b> <%= carregamento.fim.strftime('%d/%m/%Y %H:%M') if carregamento.fim %> </br> 
      <% if carregamento.container20 > 0 %>
      <b>Containers de 20:</b> <%= carregamento.container20 %> <img src="/cont20.png" height="25" width="25"> </br>
      <% end %>
      <% if carregamento.container40 > 0 %>
      <b>Containers de 40:</b> <%= carregamento.container40 %> <img src="/cont40.png" height="25" width="25"> </br>
      <% end %>
      <% if carregamento.carretas > 0 %>

      <b>Carretas:</b> <%= carregamento.carretas %> <img src="/carreta.png" height="25" width="25"> </br>
      <% end %>
      <% if carregamento.motoristas > 0 %>  
      <b>Motoristas embarcados:</b> <%= carregamento.motoristas %> <img src="/motorista60.png" height="25" width="25"> </br>
      <% end %>
      <% if carregamento.anexo? %>
          <%= link_to("Mapa de convés", carregamento.anexo.url, :target => '_blank') %> </br>
      <% end %>
      
     </div>
    <div class="modal-footer">
      <a href="#" class="btn">Fechar</a>
    </div>
</div>

<!-- /Modal2 -->

<style type="text/css">
  body {
  color: #333;
  font-family: 'Helvetica', arial;
}

.wrap {
  padding: 40px;
  text-align: center;
}

hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaa;
}

h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}

.btn-close {
  color: #aaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}

.modal:before {
  content: "";
  /*display: none;*/
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.modal:target:before {
  -webkit-transition: -webkit-transform 0.9s ease-out;
  -moz-transition: -moz-transform 0.9s ease-out;
  -o-transition: -o-transform 0.9s ease-out;
  transition: transform 0.9s ease-out;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  /*display: block;*/
}

.modal:target + .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

.modal-dialog {
  background: #fefefe;
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-body {
  padding: 20px;
}

.modal-header,
.modal-footer {
  padding: 10px 20px;
}

.modal-header {
  border-bottom: #eee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}

.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}
</style>