<% if !@versions.blank? %>
  <h3>Versao Atual: <%= @versions.length %></h3>

  <b>Criado em:</b>
  <%= @versions.last.created_at %>
  <br>
  <b>Usuario</b>: <%= User.find(@versions.last.whodunnit).email %>
  <br>
  <% if @versions.length.to_i > 1 %>
    <% if params[:version].to_i > 1 || !params[:version] %>
      <%= link_to "Versao Anterior", {:version => (params[:version] || @versions.length).to_i - 1}%>
      <br>
    <% end %> 
    <% if params[:version] %>
      <h3>Esta e <%= "#{params[:version]}"%> versao</h3>

      <b>Modificada em:</b>
      <%= @versions[(params[:version].to_i - 1)].created_at %>
      <br>
      <b>Usuario</b>:
      <%= User.find(@versions[(params[:version].to_i - 1)].whodunnit).email %>
      <br>

      <%= link_to "Ir para versao atual"%>
    <% end %>
  <% end %>
<% else %>
  <p>Este item nao tem versoes anteriores.</p>
<% end %>