<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'jquery.mobile' %>    
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.mobile' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div data-theme="b" class="ui-page-active" data-role="page">
        <!-- YIELD -->
            <%= yield %>
        <!-- YIELD -->
    </div>  
  </body>

  </html>